{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1 style="display:inline-block;">Welcome to Route Racer</h1><h1 style="display:inline-block; padding:12px;">{{username}}</h1>
    <p>
        Route Racer uses a SQLite database to save your swims thoughtout
        the year on very long routes competiting with friends and community
        that are displayed on a map.
    </p>
    <p>
        Improvements could be made by connecting Route Racer to Strava
        and Garmin APIs that would keep racers honest in their reporting
        of how much they swam.
    </p>

{% endblock %}